<md-content flex layout="column" class="content-wrapper" layout-column>
    <div flex layout="row">
        <!-- <div flex="20" layout="column" layout-padding >
        Toolbar
          <div flex id="myPaletteDiv" class="boxWithHeight"></div>
      </div>
      <div flex layout="column" layout-padding >
        Work Area
            <div flex id="myDiagramDiv" class="boxWithHeight"></div>
      </div> -->
        <go-diagram go-model="model"></go-diagram>
        <div layout="column" layout-padding>
            <section flex>
                <div class="Title">
                    Player
                </div>
                <code-player controls='controls'></code-player>
                <!-- <button ng-click="rotate()">rotate</button> -->
                <!--<img src="../images/btnReset.png"/>-->
                <button class="btnDesign" ng-click="reset()">Reset</button>
                <button class="btnDesign" ng-click="compile()">Compile</button>
                <button class="btnDesign" ng-click="run()">Run</button>
                <!--Selected node:-->
                <!--<input type="text" ng-model="model.selectedNodeData.text"> is Modified: {{model.isModified}}-->
                <br/><br/>

                <div class="Title">
                    Log
                </div>
                <select style="width: 100%; overflow: auto;" class="boxWithHeight" ng-style="selectStyle" size="5"
                        name="repeatSelect" id="repeatSelect" ng-model="data.repeatSelect" multiple>
                    <option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
                </select>


                <textarea id="mySavedModel" style="width:100%;height:300px" ng-hide="true">
                   { "class": "go.GraphLinksModel",
  "linkFromPortIdProperty": "fromPort",
  "linkToPortIdProperty": "toPort",
  "nodeDataArray": [ 
{"category":"Start", "text":"Start", "key":"S", "loc":"-344.6093750000001 -478.0000000000002"},
{"category":"End", "text":"End", "key":"E", "loc":"-336.609375 -279"}
 ],
  "linkDataArray": [ 
 ]}
                </textarea>
            </section>
        </div>
    </div>
</md-content>
<!-- <md-content layout-gt-sm="row" layout-fill>
  <div flex="30" layout="column" class="boxWithHeight" layout-padding>
    flex="30"
    <section flex="40">flex="40"</section>
    <section flex>flex</section>
  </div>
  <div flex layout="column" class="boxWithHeight" layout-padding>
    flex
    <section flex="70">flex="70"</section>
    <section flex="20">flex="20"</section>
    <section flex >flex </section>
  </div>
</md-content>
</body> -->
