

/* Important to set height for column layout */
.boxWithHeight {
  box-sizing: border-box;
  border:solid 2px #C7C7C7;
  display: block;
  height: 300px;
}

#myDiagramDiv {
    overflow: hidden!important;
}

#myDiagramDiv canvas {
    top: -70px!important;
}

#myPaletteDiv {
    overflow: hidden!important;
}

#myPaletteDiv canvas {
    top: -70px!important;
}

.hero {
    padding: 15px;
    text-align: center;
    background-color: #1E88E5;
    color: white;
    background-image: url('../images/ice-02.jpg');
    background-size: cover;
}
.hero-logo {
    width: 100%;
    border-radius: 2em;
    margin: 10px 0 30px 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.title-logo {
    width: 100px;
/*    padding-top: 50px;
    position: absolute;*/
    
}

md-content .login{
    background-color: #1E88E5;
}

md-toolbar {
    background-color: #44A69D;
}

.md-headline {
    margin: 20px;
}

.hero-buttons {
    margin-bottom: 60px;
}
.hero-buttons .md-button {
    padding: 0 14px;
}

.login-box {
    position: absolute;
}

.center-form {
    max-width: 768px;
    margin: 38px auto;
    box-shadow: 0px 2px 21px 1px rgba(0,0,0,0.7);
}

.whiteframe {
    margin: 0!important;
}

.mute-toolbar {
    background: #f2f2f2 !important;
    color: #616161 !important;
    border-bottom: 1px solid #e5e5e5;
}

.signup-seperator {
    color: #dce0e0;
}

.signup-seperator .line {
    border: 1px solid #dce0e0;
}

.profile-picture {
    height: 100px;
    display: block;
}


/*********************
* Social Buttons
*********************/

.login-icon {
    color: white;
    width: 18px;
    height: 18px;
}

.btn-google-plus {
    color: #fff;
    background-color: #dd4b39;
    border: 1px solid #d54331;
}

.btn-google-plus:hover,
.btn-google-plus:focus {
    color: #fff;
    background-color: #cb3927;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border: 1px solid #335190;
}

.btn-facebook:hover,
.btn-facebook:focus {
    color: #fff;
    background-color: #294786;
}