<section class="hero" layout="column" layout-align="center center" style="height: 100%">
    <div class="ice-logo">
    <img src="../../images/ice_text.png" style="width:100%">
</div>
        <md-content layout-margin class="center-form"  ng-controller="LoginController" ng-if="isAuthenticated()">

<div class="padded" md-whiteframe="8" layout-padding layout-margin layout layout-align="center center">
    <article>
        There is an assumption that familiarity with the programming world and code logics changes the way of thinking not only in front of the computer, but in many other situations in life (e.g, when making decisions, finding solutions to complex problems, etc).
In order to explore the change in the way of thinking among people who are exposed to the programming world against those who don’t there is a need to create an easy interface, fast and convenient for learning basic programming principles.
<br/><br/>
This website is the final project in a Computer Science BSC of the College of Management Academic Studies.
<br/><br/>
The Supervisor's name: Dr. Igor Rochlin
<br/><br/>
The students' names: Koby Hay, Almog Chen, Idan Berman, Gadi Gomez
    </article>
  </div>

        </md-content>

        <md-content layout-margin class="center-form"  ng-controller="LoginController" ng-if="!isAuthenticated()">
            <section class="md-whiteframe-z1 whiteframe " flex>
                <md-toolbar class="mute-toolbar">
                    <div class="md-toolbar-tools">
                        <h3>Log in</h3>
                    </div>
                </md-toolbar>
                <md-content layout="column" layout-gt-sm="row" layout-padding>
                    <div layout="column" flex>
          <!--               <button class="md-button btn-facebook" ng-click="authenticate('facebook')">
                            <md-icon md-svg-src="images/social-facebook.svg" class=" login-icon"></md-icon> Sign in with Facebook
                        </button> -->
                        <button class="md-button btn-google-plus" ng-click="authenticate('google')">
                            <md-icon md-svg-src="images/social-google.svg" class=" login-icon"></md-icon> Sign in with Google
                        </button>
                    </div>
                    <div class="signup-seperator" layout="row" layout-gt-sm="column" layout-align="center center">
                        <div class="line" flex></div>
                        <div>OR</div>
                        <div class="line" flex></div>
                    </div>
                    <div flex layout="column" layout-padding layout-margin>
                        <form method="post" ng-submit="login()" name="loginForm" layout="column">
                            <md-input-container class="md-icon-float">
                                <label>Email</label>
                                <md-icon>email</md-icon>
                                <input ng-model="email" name="email" type="email" required autofocus>
                            </md-input-container>
                            <md-input-container class="md-icon-float">
                                <label>Password</label>
                                <md-icon>lock</md-icon>
                                <input ng-model="password" name="password" type="password" required>
                            </md-input-container>
                            <md-button type="submit" ng-disabled="loginForm.$invalid" class="md-primary">Log in</md-button>
                        </form>
                    </div>
                </md-content>
                <md-divider></md-divider>
                <div layout="column" class="links" layout-align="center center">
                    <a ui-sref="password.forgot">Forgot your password?</a>|<a ui-sref="signup">Sign up</a>
                </div>
            </section>
        </md-content>


</section>